@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

body,
.container,
.container .box,
.container .box .content,
.container .box .content .percent::before,
.container .box .content .number h2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	overflow: hidden;
	min-height: 100vh;
	background: #cfd1e1;
}

.container {
	flex-wrap: wrap;

	gap: 80px 100px;
}

.container .box {
	position: relative;
	width: 240px;
	height: 250px;
}

.container .box::before {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 20px;
	height: 100%;
	background: linear-gradient(#fff, #fff, #e3e3e3);
	filter: blur(1px);
	content: "";
}

.container .box::after {
	position: absolute;
	right: -1px;
	top: 1px;
	z-index: 1;
	width: 20px;
	height: 100%;
	background: #9d9d9d;
	filter: blur(1px);
	content: "";
}

.container .box .shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #eee;
}

.container .box .shadow::before {
	position: absolute;
	left: calc(100% + 5px);
	top: 0;
	width: 100%;
	height: 200%;
	background: linear-gradient(rgba(0, 0, 0, .075), transparent);
	content: "";
	transform: skewX(45deg);
}

.container .box .shadow::after {
	position: absolute;
	left: calc(100% + 15px);
	bottom: -200%;
	width: 100%;
	height: 200%;
	background: linear-gradient(rgba(0, 0, 0, .075), transparent);
	content: "";
	transform: skewX(45deg);
}

.container .box .content {
	position: relative;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: linear-gradient(#dbdae1, #a3aaba);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .1),
	15px 15px 15px rgba(0, 0, 0, .1),
	20px 20px 20px rgba(0, 0, 0, .1),
	50px 50px 50px rgba(0, 0, 0, .1),
	inset 3px 3px 2px #fff;
}

.container .box .content .percent {
	position: relative;
	width: 150px;
	height: 150px;
}

.container .box .content .percent::before {
	position: absolute;
	border-radius: 50%;
	background: #555;
	text-transform: uppercase;
	font-size: 2em;
	color: #fff;
	letter-spacing: .1em;
	content: attr(data-text);

	inset: 20px;
}

.container .box .content .percent svg {
	position: relative;
	width: 150px;
	height: 150px;
	transform: rotate(270deg);
}

.container .box .content .percent svg circle {
	width: 100%;
	height: 100%;
	transform: translate(5px, 5px);

	fill: transparent;
	stroke-width: 3;
	stroke: rgba(0, 0, 0, .05);
}

.container .box .content .percent svg circle:nth-child(2) {
	opacity: 0;
	animation: fadeIn 1s linear forwards;
	animation-delay: 2.5s;

	stroke: #555;
	stroke-dasharray: 440;
	stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.container .box .content .percent .dot {
	position: absolute;
	z-index: 10;
	animation: animateDot 2s linear forwards;

	inset: 5px;
}

@keyframes animateDot {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(calc(3.6deg * var(--num)));
	}
}

.container .box .content .percent .dot::before {
	position: absolute;
	left: 50%;
	top: -7px;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	background: #555;
	content: "";
	transform: translateX(-50%);
}

.container .box .content .number {
	position: relative;
	opacity: 0;
	animation: fadeIn 1s linear forwards;
	animation-delay: 2.5s;

	inset: 0;
}

.container .box .content .number h2 {
	font-size: 2.5em;
}

.container .box .content .number h2 span {
	margin-left: 5px;
	font-weight: 300;
	font-size: .5em;
}